---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>⚠ Under Construction ⚠</h1>
			<p>
				I am a PhD student in the Engineering and Applied Sciences department at <a href="https:www.umassd.edu/">UMass Dartmouth</a> where I work with <a href="http://www.math.umassd.edu/~sfield/index.html">Scott Field</a> and <a href="https://vijayvarma.com/">Vijay Varma</a> on Gravitational Wave Modeling.
				Before this, I was an <a href="https://physics.iith.ac.in/programs/btech.html#"> Engineering Physics</a> undergrad at <a href="https://iith.ac.in"> IIT Hyderabad</a> working with <a href="https://people.iith.ac.in/shantanud/"> Shantanu Desai </a> and <a href="https://ingauris.github.io/gsharma/"> Gauri Sharma </a> on scaling relations in galaxies.
				I also worked on r-modes in pulsars as a <a href="https://www.mitacs.ca/our-programs/globalink-research-internship-students/"> Mitacs</a>  intern at <a href = " https://physics.uwo.ca/"> Western University </a> with <a href = "https://publish.uwo.ca/~valluri/"> Sree Ram Valluri</a> 
			</p>

			<h4> News & Updates </h4>
			[Aug '25] Publication | <a href="https://www.sciencedirect.com/science/article/abs/pii/S2214404825001272?via%"> r-Modes in Pulsars </a> <br>
			[Jul '25] Summer School | Prospects in Theoretical Physics, Princeton <br>
			[Jun '25] Workshop | SciML in Gravitational Wave Astronomy, ICERM, Brown <br>
			[May '25] Conference Talk | Eastern Gravity Meeting, University of New Hampshire <br>
			[Sep '24] I started my PhD @ UMass Dartmouth! <br>
			[Jun '24] Publication | <a href = "https://doi.org/10.1051/0004-6361/202348667">Tully Fisher Relation in late-type galaxies</a> <br>
			[Dec '23] Conference <a href="https://www.dropbox.com/scl/fi/qcesa14jsjtjyrs7njggv/rmodes_in_pulsars_poster.pdf?rlkey=xfcf7ipeppis5nzwitooda32s&e=1&dl=0"> Poster</a> | ICGC, IIT Guwahati <br>
			[Mar '23] Conference <a href="https://www.dropbox.com/scl/fi/catovzdj8ra45m9pxnc37/galaxy_clusters_poster.pdf?rlkey=umyerpsu6e4z8f8z8itqntrkf&e=1&dl=0"> Poster</a> | ASI, IIT Indore<br>
			[Feb '23] Publication | <a href = "https://www.sciencedirect.com/science/article/abs/pii/S221268642300016X?via%3Dihub">Dark Matter in Galaxy Clusters</a> <br>


			<p>
				-- <br>
				This page is still being developed so please excuse any missing content or broken links!
			</p>

		</main>
		<Footer />
	</body>
</html>
