---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import profilePic from '../assets/profile.webp';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="text-image">
				<!-- <div class="pfp"> -->
					<Image
						src={profilePic}
						alt="profile picture"
						format="webp"
						widths={[320, 640, 960]}
						sizes="(max-width: 600px) 320px, 640px"
						class="rounded-2xl shadow-lg"
						loading="eagerly"
					/>
				<!-- </div> -->
				<div class="text-content">
					<h1>Home</h1>
					<p>
						Welcome to my digital garden! I'm a grad student at UMass Dartmouth working in gravitational wave astronomy. This website is meant to serve as a dumping ground for research projects, life updates, occasional photography, random trivia and everything in between. Fun fact, the background color here is the what the <a href="https://en.wikipedia.org/wiki/Cosmic_latte" target="_blank">average color of the universe</a> looks like.
					</p>
				</div>
			</div>

			<br/>
			<h4> News & Updates </h4>
			[Aug '25] Publication | <a href="https://doi.org/10.1016/j.jheap.2025.100446" target="_blank"> r-Modes in Pulsars </a> <br>
			[Jul '25] Summer School | Prospects in Theoretical Physics, Princeton <br>
			[Jun '25] Workshop | SciML in Gravitational Wave Astronomy, ICERM, Brown <br>
			[May '25] Conference Talk | Eastern Gravity Meeting, University of New Hampshire <br>
			[Sep '24] I started my PhD @ UMass Dartmouth! <br>
			[Jun '24] Publication | <a href = "https://doi.org/10.1051/0004-6361/202348667" target="_blank">Tully Fisher Relation in late-type galaxies</a> <br>
			[Dec '23] Conference <a href="https://www.dropbox.com/scl/fi/qcesa14jsjtjyrs7njggv/rmodes_in_pulsars_poster.pdf?rlkey=xfcf7ipeppis5nzwitooda32s&e=1&dl=0" target="_blank"> Poster</a> | ICGC, IIT Guwahati <br>
			[Mar '23] Conference <a href="https://www.dropbox.com/scl/fi/catovzdj8ra45m9pxnc37/galaxy_clusters_poster.pdf?rlkey=umyerpsu6e4z8f8z8itqntrkf&e=1&dl=0" target="_blank"> Poster</a> | ASI, IIT Indore<br>
			[Feb '23] Publication | <a href = "https://doi.org/10.1016/j.dark.2023.101182" target="_blank">Dark Matter in Galaxy Clusters</a> <br>


			<p>
				-- <br>
				This page is still being developed so please excuse any missing content or broken links!
			</p>

		</main>
		<Footer />
	</body>
</html>
