---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">/home</HeaderLink>
			<HeaderLink href="/about">/about</HeaderLink>
			<HeaderLink href="/research">/research</HeaderLink>
			<HeaderLink href="/blog">/blog</HeaderLink>
			<HeaderLink href="/comingsoon">/gallery</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		position: fixed;
		/* top: 0;   */
		right: 0;
		left: 0;
		margin: 10;
		padding: 0 1em;
		backdrop-filter: blur(10px);
		background: rgba(78, 97, 81,  0.6);
		box-shadow: 0 2px 8px rgba(34, 54, 39,  0.6), 45%);
		z-index: 1000
	}
	h2 {
		margin: 0;
		font-size: 1.1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.7em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
